.blog__slider-wrapper {
    margin: 32px auto 0;
}

.blog__slide:not(:last-child) {
    margin-right: 20px;
}

.blog__slide .blog__author {
    border: none;
}

.blog__slide .blog__author-name {
    font-size: 14px;
}

.blog__slide .blog__author-job {
    font-size: 12px;
}

.blog__slide .blog__img-data {
    font-size: 12px;
    line-height: 130%;
    color: rgba(250, 250, 250, 0.8);
}

.blog__slide .blog__img-text {
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 12px 12px;
    text-align: left;
}

.blog__slide .blog__link {
    display: flex;
    margin-top: 20px;
    color: #3139CE;
    margin-bottom: 49px;
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
}

.blog__slide .blog__link:visited,
.blog__slide .blog__link:active {
    color: #6F75E5;
    text-decoration: underline;
}

.blog__slide .blog__link-img {
    background-image: url(/picture/blog/slider/arrow.svg);
    height: 13px;
    width: 8px;
    background-repeat: no-repeat;
    margin: auto 0px auto 14px;
}

.blog__link:active .blog__link-img,
.blog__link:visited .blog__link-img {
    background-image: url(/picture/blog/slider/visited-arrow.svg);
}

.blog__slider {
    position: relative;
}

.blog__slider .slick-dots {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.blog__slider .slick-dots li {
    margin-right: 4px;
}

.blog__slider .slick-dots button {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #E6E6E6;
    color: transparent;
}

.blog__slider .slick-dots .slick-active button {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #3139CE;
}